<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MLifter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MLifter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Languages;Libraries"/>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="3.5.1.0-3.5.1.0" newVersion="3.5.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<MLifter.Properties.Settings>
   <setting name="FirstUse" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Statistics" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="RecentFiles" serializeAs="String">
    <value />
   </setting>
   <setting name="CopyMediaPromt" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CurrentLanguage" serializeAs="String">
    <value>en-us</value>
   </setting>
   <setting name="CurrentStyle" serializeAs="String">
    <value>Default</value>
   </setting>
   <setting name="DicDir" serializeAs="String">
    <value>MLDictionaries</value>
   </setting>
   <setting name="Location" serializeAs="String">
    <value>251, 245</value>
   </setting>
   <setting name="Size" serializeAs="String">
    <value>940, 700</value>
   </setting>
   <setting name="Registered" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SynonymPromt" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LayoutValues" serializeAs="String">
    <value>548, -165</value>
   </setting>
   <setting name="Play" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Maximized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Slideshow" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MLifter_RegistryLoaded" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Upgraded" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AllowOnlyOneInstance" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IgnoreOldDics" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UsePrintWizard" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastImportTimestamp" serializeAs="String">
    <value>1900-01-01</value>
   </setting>
   <setting name="STATISTICS_ShowTargetLine" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RecentFilesCount" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="ShowStartPage" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowBackupDialog" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CheckForBetaUpdates" serializeAs="String">
    <value>False</value>
   </setting>
  </MLifter.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<MLifter.Properties.Settings>
   <setting name="XsltEnableScripts" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="XsltEnableDocument" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ENABLE_SoundPlayInternal" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ENABLE_MessageTimestamps" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ENABLE_MessageIntOverflow" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ENABLE_MessageEditField" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ENABLE_MessageXMLAccess" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ENABLE_MessageDictionaryDamaged" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FILE_PlayVideo" serializeAs="String">
    <value>Media\Image\play_video.gif</value>
   </setting>
   <setting name="SOUNDS_Highscore" serializeAs="String">
    <value>Media\Audio\HighScore.wav</value>
   </setting>
   <setting name="SOUNDS_Startup" serializeAs="String">
    <value>Media\Audio\Start.mp3</value>
   </setting>
   <setting name="SOUNDS_Exit" serializeAs="String">
    <value>Media\Audio\stop.mp3</value>
   </setting>
   <setting name="FILE_SupportedImageFormats" serializeAs="String">
    <value>*.jpg;*.jpeg;*.png;*.gif;*.bmp;*.ico;*.emf;*.wmf</value>
   </setting>
   <setting name="FILE_SupportedAudioFormats" serializeAs="String">
    <value>*.wav;*.mp3;*.mid</value>
   </setting>
   <setting name="FILE_SupportedVideoFormats" serializeAs="String">
    <value>*.avi;*.wmv</value>
   </setting>
   <setting name="FILE_SupportedCommentFormats" serializeAs="String">
    <value>*.wav</value>
   </setting>
   <setting name="FILE_SupportedPackFormats" serializeAs="String">
    <value>*.dzp</value>
   </setting>
   <setting name="FILE_SupportedRecordFormats" serializeAs="String">
    <value>*.wav</value>
   </setting>
   <setting name="AUDIO_BitsPerSample" serializeAs="String">
    <value>16</value>
   </setting>
   <setting name="AUDIO_Format" serializeAs="String">
    <value>PCM</value>
   </setting>
   <setting name="AUDIO_TimeFormat" serializeAs="String">
    <value>ms</value>
   </setting>
   <setting name="AUDIO_Channels" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="AUDIO_SamplePerSecond" serializeAs="String">
    <value>44100</value>
   </setting>
   <setting name="AUDIO_BytesPerSecond" serializeAs="String">
    <value>176400</value>
   </setting>
   <setting name="AUDIO_Alignment" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="DefaultStripChars" serializeAs="String">
    <value>.!?;,</value>
   </setting>
   <setting name="AppDataFolder" serializeAs="String">
    <value>MemoryLifter\2.4</value>
   </setting>
   <setting name="AppDataFolderDesigns" serializeAs="String">
    <value>Designs</value>
   </setting>
   <setting name="ForceOnStickMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StatisticsShowTime" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="LastImportColor" serializeAs="String">
    <value>LightYellow</value>
   </setting>
   <setting name="LastImportSessionPersistent" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TIMER_MinSeconds" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="RecentFilesSize" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="MaximalStackSize" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="RecentFilesListMaximum" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="Teacher" serializeAs="String">
    <value>Resources\Teachers.xml</value>
   </setting>
   <setting name="ConfigurationFolder" serializeAs="String">
    <value>Config</value>
   </setting>
   <setting name="SyncedLMFolder" serializeAs="String">
    <value>SyncedLearningModules</value>
   </setting>
   <setting name="AvailableLanguages" serializeAs="String">
    <value>en-us;de-de;es-es;fr-fr;pt-pt</value>
   </setting>
   <setting name="AppDataFolderErrorReportsNew" serializeAs="String">
    <value>ErrorReports\New</value>
   </setting>
   <setting name="ENABLE_ErrorReportviaWebservice" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UpdateVersionUrl" serializeAs="String">
    <value>http://services.memorylifter.com/update/VersionHandler.ashx</value>
   </setting>
   <setting name="CheckForUpdates" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RegistrationServiceUrl" serializeAs="String">
    <value>http://services.memorylifter.com/registration/RegistrationHandler.ashx</value>
   </setting>
  </MLifter.Properties.Settings>
	</applicationSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
