<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MLifterErrorHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Languages;Libraries"/>
    </assemblyBinding>
  </runtime>
    <applicationSettings>
        <MLifterErrorHandler.Properties.Settings>
            <setting name="AppDataFolder" serializeAs="String">
                <value>MemoryLifter\2.4</value>
            </setting>
            <setting name="MLifterErrorHandler_ErrorReportService_ErrorReportService"
                serializeAs="String">
                <value>http://services.memorylifter.com/error/ErrorReportService.asmx</value>
            </setting>
            <setting name="AppDataFolderErrorReportsUnsent" serializeAs="String">
                <value>ErrorReports\Unsent</value>
            </setting>
            <setting name="AppDataFolderErrorReportsNew" serializeAs="String">
                <value>ErrorReports\New</value>
            </setting>
            <setting name="AppDataFolderErrorReportsArchive" serializeAs="String">
                <value>ErrorReports\Archive</value>
            </setting>
            <setting name="NotifyIcon_FillColor" serializeAs="String">
                <value>255, 217, 19</value>
            </setting>
            <setting name="Transfer_Chunksize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="Transfer_TryDays" serializeAs="String">
                <value>7</value>
            </setting>
        </MLifterErrorHandler.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
