<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MLifter.BusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MLifter.BusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<MLifter.BusinessLayer.Properties.Settings>
			<setting name="PgConnectionProtocol" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="PgConnectionPooling" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="PgConnectionMinPoolSize" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="PgConnectionMaxPoolSize" serializeAs="String">
				<value>50</value>
			</setting>
			<setting name="PgConnectionEncoding" serializeAs="String">
				<value>UNICODE</value>
			</setting>
			<setting name="PgConnectionTimeout" serializeAs="String">
				<value>60</value>
			</setting>
			<setting name="LMIndexCacheFilename" serializeAs="String">
				<value>LMIndex.cache</value>
			</setting>
			<setting name="LMIndexCacheCleanupDays" serializeAs="String">
				<value>14</value>
			</setting>
			<setting name="MLifterBusinessLayer_MLifterLearningModulesService_MLifterLearningModulesService" serializeAs="String">
				<value>http://localhost/MLifterSyncService/MLifterLearningModulesService.asmx</value>
			</setting>
			<setting name="MLifterBusinessLayer_SyncWebService_PgSyncService" serializeAs="String">
				<value>http://localhost/MLifterSyncService/PgSyncService.asmx</value>
			</setting>
			<setting name="RecentFilesListMaximum" serializeAs="String">
				<value>20</value>
			</setting>
			<setting name="StickLMFolder" serializeAs="String">
				<value>LearningModules</value>
			</setting>
		</MLifter.BusinessLayer.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<MLifter.BusinessLayer.Properties.Settings>
			<setting name="LMKeyFile" serializeAs="String">
				<value>LMKeys.dat</value>
			</setting>
		</MLifter.BusinessLayer.Properties.Settings>
	</userSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
