<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StickFactory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <StickFactory.Properties.Settings>
            <setting name="InputPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="InputFolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="StickName" serializeAs="String">
                <value>MLifter</value>
            </setting>
            <setting name="StickID" serializeAs="String">
                <value>D4FC-44F7</value>
            </setting>
        </StickFactory.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
