<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SecurityAdminSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="SecurityAdminSuite.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <system.diagnostics>
    <switches>
      <add name="Tracer" value="1"/>
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <remove name="Default"/>
        <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime" initializeData="AdminSuiteTrace.log"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <applicationSettings>
        <SecurityAdminSuite.Properties.Settings>
              <setting name="ConfigurationFolder" serializeAs="String">
                    <value>MemoryLifter\2.4\Config</value>
              </setting>
        </SecurityAdminSuite.Properties.Settings>
        <SecurityAdminSuite.AppSettings>
            <setting name="ConfigPath" serializeAs="String">
                <value>Config</value>
            </setting>
        </SecurityAdminSuite.AppSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
