<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MLifter.ModuleService.Properties.Settings"
	  type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
	  requirePermission="false" />
		</sectionGroup>
		<!-- Uncomment to enable rewriting -->
		<!--<section name="rewriter"
				 type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"
				 requirePermission="false" />-->
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off"/>
		<!-- Uncomment to enable rewriting -->
		<!--<httpModules>
			<add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"	name="UrlRewriter" />
		</httpModules>-->
	</system.web>

	<applicationSettings>
		<MLifter.ModuleService.Properties.Settings>
			<setting name="ModulesFolder" serializeAs="String">
				<value>modules</value>
			</setting>
			<setting name="ScreenshotFolder" serializeAs="String">
				<value>screenshots</value>
			</setting>
			<setting name="InfoFolder" serializeAs="String">
				<value>info</value>
			</setting>
			<setting name="ModuleFeedId" serializeAs="String">
				<value>9a01b567-d41a-42d8-a7bc-af795da36357</value>
			</setting>
			<setting name="CategoriesFeedId" serializeAs="String">
				<value>f46b233c-0d6f-47e8-ad76-f87831d532d4</value>
			</setting>
		</MLifter.ModuleService.Properties.Settings>
	</applicationSettings>
</configuration>
