<?xml version="1.0"?>
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <section name="MLifterSettingsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</sectionGroup>
	<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <section name="MLifterSettingsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
	</sectionGroup>
  </configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Languages;Libraries"/>
		</assemblyBinding>
	</runtime>
  <applicationSettings>
	<MLifterSettingsManager.Properties.Settings>
	  <setting name="ConfigurationFolder" serializeAs="String">
		<value>MemoryLifter\2.4\Config</value>
	  </setting>
	  <setting name="ConfigPath" serializeAs="String">
		<value>Config</value>
	  </setting>
	  <setting name="AppDataFolder" serializeAs="String">
		<value>MemoryLifter\2.4</value>
	  </setting>
	  <setting name="SyncedLMFolder" serializeAs="String">
		<value>SyncedLearningModules</value>
	  </setting>
	</MLifterSettingsManager.Properties.Settings>
  </applicationSettings>
  <userSettings>
	<MLifterSettingsManager.Properties.Settings>
	  <setting name="VBRFixApplication" serializeAs="String">
		<value>Codecs\Lame\lame.exe</value>
	  </setting>
	  <setting name="VBRFixCommand" serializeAs="String">
		<value>-b 128 --cbr -a "{0}" "{1}"</value>
	  </setting>
	</MLifterSettingsManager.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
