<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		
 </configSections>
	
	<connectionStrings>
		<add name="TestSourcesConnection" connectionString="Data Source=|DataDirectory|TestSources.sdf;File Mode=Read Write;Persist Security Info=False;" providerName="System.Data.SqlServerCe.3.5"/>
	</connectionStrings>

	<microsoft.visualstudio.testtools>
		<dataSources>
			<add name="TestSources" connectionString="TestSourcesConnection" dataTableName="ConnectionStrings" dataAccessMethod="Sequential"/>
		</dataSources>
	</microsoft.visualstudio.testtools>
	
 <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<runtime>
		<NetFx40_LegacySecurityPolicy enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
